/* IMPORTAÇÃO DE GOOGLE FONTES - LATO E ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* ADICIONANDO CORES PADRÃO */
:root {
    --branco: #FFF;
    --preto: #000;

    --roxo-primario: #332DA2;
    --roxo-secundario: #5900ff;
    /* Cor antiga*/
    --roxo-escuro: #2D0B68;

    --azul-escuro: #1E2486;

    --cinza-claro: #A3A3A3;
    --cinza-medio: #5C5C5C;
    --cinza-escuro: #373535;
}

/* RESET CSS, ZERANDO VALORES PADROES, SETANDO FONTE PADRAO E TIRANDO OUTRAS COISAS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a,
li {
    color: inherit;
    text-decoration: none;
    list-style: none;
}

/* CRIANDO CAIXA DA DASHBOARD */
.dash-box {
    display: flex;
    height: 100vh;
}

/* CRIANDO SIDEBAR */
.dash-box .sidebar {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: var(--roxo-escuro);
    z-index: 15;
    padding: .5rem 0;
    transition: all .3s;
    white-space: nowrap;
}

.sidebar.active {
    width: 80px;
}

/* HEADER DA SIDEBAR */
.sidebar .header-sidebar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    margin-bottom: .4rem;
}

/* LOGO */
.header-sidebar .nav-logo {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    opacity: 1;
    pointer-events: all;
    transition: all .3s;
}

.sidebar.active .header-sidebar .nav-logo {
    display: none;
    pointer-events: none;
    opacity: 0;
}

.header-sidebar .nav-logo img {
    width: auto;
    height: 100%;
}

.header-sidebar .nav-logo h2 {
    text-transform: uppercase;
    color: var(--branco);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 900;
}

/* BOTAO TOGGLE */
.header-sidebar #toggle-dash-btn {
    color: var(--branco);
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0.95rem 1.2rem;
    border-radius: .5rem;
}

#toggle-dash-btn:hover {
    background-color: rgba(255, 255, 255, .2);
}

/* MENU DE NAVEGAÇÃO DA SIDEBAR */
.sidebar .menu .menu-label h2 {
    padding: 0 2rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: var(--branco);
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.sidebar .menu .nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-menu .submenu-item,
.nav-menu .nav-item {
    display: flex;
    width: 100%;
    position: relative;
    color: var(--cinza-medio);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: .2rem;
}

.nav-menu .nav-item svg {
    height: 1.4rem;
    width: 1.4rem;
    overflow: unset;
}

.nav-menu .nav-item::after {
    content: "";
    width: 8px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.sidebar.active .menu .nav-menu .nav-item a p,
.sidebar.active .menu .nav-menu .nav-item a span,
.sidebar.active .menu .menu-label,
.sidebar.active .menu .submenu p,
.sidebar.active .menu .submenu span {
    display: none;
}

.nav-menu .nav-item.submenu,
.sidebar .menu .nav-menu .nav-item a,
.nav-menu .submenu-item a {
    display: flex;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;
}

.nav-menu .nav-item a i,
.nav-menu .nav-item.submenu i {
    font-size: 1.4rem;
}

.nav-menu .nav-item a p,
.nav-menu .nav-item.submenu p,
.nav-menu .submenu-item a p {
    display: inline;
    margin-left: 0.5rem;
}

.nav-menu .nav-item.submenu span {
    margin-left: auto;
}

.nav-menu .submenu-item:hover,
.nav-menu .nav-item:hover {
    background-color: rgba(255, 255, 255, .2);
    color: var(--branco) !important;
}

.nav-menu .nav-item:hover::after {
    background-color: var(--roxo-secundario);
}

.nav-menu .nav-item.active {
    background-color: rgba(255, 255, 255, .2);
    color: var(--branco) !important;
}

.nav-menu .nav-item.active::after {
    background-color: var(--roxo-secundario);
}

.nav-menu .submenu-item a {
    padding: 1rem 4rem;
}

.submenu-list {
    display: none;
}

.submenu-list.active {
    display: block;
}

/* RODAPE DA SIDEBAR */
.footer-sidebar {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    padding: 0 .5rem;
}

.footer-sidebar .menu-user {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px var(--cinza-escuro);
}

.footer-sidebar .menu-user .user-icon {
    font-size: 1.4rem;
    border: solid 3px var(--preto);
    border-radius: 50%;
    height: 2.5rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.active .menu-user .user-account,
.sidebar.active .menu-user .user-icon {
    display: none;
}

.footer-sidebar .menu-user .userName {
    font-size: .85rem;
    color: var(--branco);
    font-weight: 700;
}

.footer-sidebar .menu-user .userEmail {
    font-size: .75rem;
    color: var(--cinza-claro);
}

.footer-sidebar .menu-user #exitBtn {
    color: var(--branco);
    font-size: 1.4rem;
    padding: 0.95rem 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
}

.menu-user #exitBtn:hover {
    background-color: rgba(255, 255, 255, .2);
}

/* FIM SIDEBAR */


/* CONTEUDO INTERNO DASHBOARD */
.dash-box .dash-content {
    height: 100%;
    width: calc(100% - 300px);
    position: absolute;
    left: 300px;
    transition: all .3s;
    position: relative;
}

.dash-box .dash-content.active {
    width: calc(100% - 80px);
    left: 80px;
}

/* HEADER DASHBOARD */
.dash-box .dash-content .dash-header {
    width: calc(100% - 300px);
    height: 100px;
    background-color: var(--branco);
    border-bottom: 1px solid var(--cinza-claro);
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: all .3s;
    z-index: 10;
}

.dash-content.active .dash-header {
    width: calc(100% - 80px);
}

.dash-header .text {
    display: flex;
    flex-direction: column;
}

.dash-header .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cinza-escuro);
}

.dash-header .description {
    font-weight: 500;
    font-size: 1rem;
    color: var(--cinza-claro);
}

.dash-header .head-btn {
    color: var(--preto);
    font-size: 1.4rem;
    padding: 0.95rem 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    border: solid 1px var(--cinza-claro);
}

.dash-header .head-btn:hover {
    background-color: rgba(0, 0, 0, .45);
    color: var(--branco);
}


/* BODY DASHBOARD */
.dash-box .dash-content .dash-body {
    width: 100%;
    padding: .5rem 2rem;
    position: relative;
    z-index: 9;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* CARD DA TABELA */
.dash-body .table-card {
    width: 100%;
    min-height: 100vh;
    background-color: #FFF;
    border: 1px solid var(--cinza-claro);
    border-radius: .25rem;
    padding: 1rem;
}

/* HEAD DO CARD */
.table-card .card-header {
    justify-content: space-between;
    display: flex;
}

/* CAMPO DE PESQUISA */
.card-header .search-field {
    display: flex;
    position: relative;
}

.card-header .search-field .pesquisar {
    padding: .4rem 0;
    padding-left: 2rem;
    width: 240px;
    position: relative;
    border: 1px solid var(--cinza-claro);
    border-radius: 20px;
}

.search-field i {
    position: absolute;
    left: .5rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #5C5C5C;
}

/* ESCONDENDO CAMPO DE PESQUISA DEFAULT */
.dt-search {
    display: none;
}

/* TABELA JSTABLE */
#myTable {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px;

}

/* Cor do Thead */
#myTable thead {
    background-color: var(--roxo-escuro);
    color: var(--branco);
}

/* Espaçamento das células do thead */
#myTable.dataTable thead th,
#myTable.dataTable thead td {
    padding: 1.4rem .25rem;
    border: none;
    text-align: center;
}

/* Espaçamento das células */
#myTable.dataTable tbody td {
    padding: 1.2rem 0.25rem;
}

#myTable.dataTable.no-footer {
    border: none;
}

/* Alilhamento de texto do thead */
#myTable thead th {
    text-align: center;
}

/* Alinhamento do texto das linhas */
#myTable tbody td {
    text-align: center;
}

/* Arredondamento de bordas do topo */
#myTable thead th:first-child {
    border-top-left-radius: 10px;
}
#myTable thead th:last-child {
    border-top-right-radius: 10px;
}

#myTable tbody td .action-btn {
    display: inline;
    border-radius: 50%;
    border: 1px solid var(--roxo-escuro);
    background-color: #FFF;
    cursor: pointer;
}

#myTable tbody td .action-btn i {
    padding: .5rem;
    color: var(--roxo-escuro);
}

#myTable tbody td .action-btn:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

/* MODAL */

/* Fundo do modal */
#fade-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    z-index: 16;
    top: 0;
    left: 0;
}

/* Card card*/
.dash-content .modal {
    background-color: var(--branco);
    position: fixed;
    width: 640px;
    max-width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 17;
    border-radius: 10px;
    min-height: 300px;
    transition: all .3s;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
}

/* Esconder modal e fundo */
.modal.hide,
#fade-modal.hide {
    opacity: 0;
    pointer-events: none;
}

/* Posicionar modal para cima */
.modal.hide {
    top: 0;
}

/* Header Modal */
.modal .modal-header {
    width: 100%;
}

/* Botão fechar modal */
.modal .modal-header .close-modal-btn {
    font-size: 24px;
    cursor: pointer;
    color: var(--cinza-claro);
    width: fit-content;
    margin-left: auto;
}
.modal .modal-header .close-modal-btn:hover {
    color: var(--cinza-escuro);
}
.modal .modal-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.modal .modal-body .modal-title {
    margin-bottom: 2rem;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}
.modal .modal-body .modal-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .modal-body .input-field {
    width: 95%;
    position: relative;
    margin-bottom: 2rem;
    display: flex;
}
.modal-body .input-field input {
    width: 100%;
    font-size: 1rem;
    padding: .45rem 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid var(--cinza-claro);
    outline: none;
    padding-left: 1rem;
}
.modal-body .input-field input:focus {
    border-color: var(--roxo-primario);
}
.modal-body .input-field label {
    position: absolute;
    top: 50%;
    left: 3.45rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--cinza-claro);
    font-weight: 500;
    transition: all .2s ease;
}
.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    top: -45%;
    font-size: .75rem;
    color: var(--roxo-escuro);
}
.input-field .input-icon {
    width: 2.5rem;
    background-color: #f0f0f0;
    border: 1px solid var(--cinza-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.modal-body .modal-description {
    font-size: 1rem;
    color: var(--preto);
    font-weight: 500;
}
.modal-body .modal-description span {
    font-weight: 700;
}
.modal-body .modal-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal-button button {
    background-color: var(--roxo-escuro);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
    width: 50%;
}
.modal-button.cancel button {
    background-color: var(--branco);
    color: var(--roxo-escuro);
    border: 1px solid var(--roxo-escuro)
}
.modal-body .group-button {
    margin-top: auto;
    display: flex;
    width: 100%;
    gap: 2rem;
}
.modal-body .group-button .modal-button button {
    width: 100%;
}




