/* IMPORTAÇÃO DE GOOGLE FONTES - LATO E ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* ADICIONANDO CORES PADRÃO */
:root {
    --branco: #FFF;
    --preto: #000;

    --roxo-primario: #332DA2;
    --roxo-secundario: #5900ff;
    /* Cor antiga*/

    --azul-escuro: #1E2486;

    --cinza-claro: #A3A3A3;
    --cinza-medio: #5C5C5C;
    --cinza-escuro: #373535;
}

/* RESET CSS, ZERANDO VALORES PADROES, SETANDO FONTE PADRAO E TIRANDO OUTRAS COISAS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a,
li {
    color: inherit;
    text-decoration: none;
    list-style: none;
}

/* CONTAINER PADRAO DO NOSSO SITE */
.container {
    width: 1180px;
}

/* CRIANDO HEADER FLUTUANTE */
header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 12;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

header.sticky {
    position: fixed;
    border-bottom: 0px;
    background-color: #000;
    height: 65px;
}

.navbar {
    color: var(--branco);
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header .container {
    height: 100%;
}

.navClass {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navLogo {
    height: 100%;
    line-height: 1;
}

.navLogo .logoName {
    width: 100px;
}

.navLogo h2 {
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}

.navLogo img {
    height: 85%;
    object-fit: contain;
}

.navbar a {
    font-weight: 800;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: transparent 4px solid;
    transition: all 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    width: 100px;
}

.navbar a:hover {
    border-bottom-color: var(--roxo-primario);
    color: var(--roxo-primario);
}

/* 1ª SESSÃO - BANNER */
.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../assets/bgHome2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1f2732;
    opacity: 0.75;
    z-index: 9;
}

.banner::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #000, transparent);
    z-index: 10;
}

.banner .container {
    display: flex;
    align-items: center;
}

.banner .banner-info {
    color: var(--branco);
    width: 45%;
    position: relative;
    z-index: 10;
}

.banner .banner-info .text p {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 18px;
    color: var(--roxo-primario);
}

.banner .banner-info .text h3 {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 12px;
}

.banner .banner-info .text h4 {
    font-size: 16;
    font-weight: 600;
    line-height: 1;
    font-family: "Lato";
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 32px;
}

.banner .banner-info a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 16px 40px;
    color: var(--branco);
    background-color: var(--roxo-primario);
    border: none;
    cursor: pointer;
}

.banner .banner-info a:hover {
    background-color: var(--branco);
    color: #000;
}

/* 2ª SESSAO - VALORES */
.valores {
    background-color: #000;
    min-height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 3px 8px rgba(0, 0, 0, .75));
}

.valores .container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}

.value-card {
    background-color: var(--branco);
    width: 280px;
    height: 280px;
    position: relative;
    border-radius: 8px;
    padding: 0px 16px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.value-card .title-card {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 800;
    color: var(--roxo-primario);
}

.value-card .description-card {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    color: var(--cinza-claro);
}

.value-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--roxo-primario);
    bottom: -10px;
    left: 10px;
    z-index: -2;
}

.value-card .icon {
    width: 100px;
    height: 100px;
    background-color: var(--branco);
    border-radius: 50%;
    position: absolute;
    left: -50px;
    bottom: -50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.value-card .icon i {
    font-size: 50px;
    color: var(--roxo-primario);
}

/* 3ª SESSAO - SOBRE NOS */
.sobreNos {
    min-height: 95vh;
    width: 100%;
    display: flex;
    background: radial-gradient(circle, #233D8C 0%, #0C1B32 100%);
    justify-content: center;

}

.sobreNos .container {
    display: grid;
    grid-template-columns: 45% 55%;
}

.sobreNos .area {
    height: 100%;
    width: 100%;
}

.sobreNos .bannerArea {
    display: flex;
    padding: 24px 0px;
    align-items: center;
}

.sobreNos .bannerArea img {
    width: 95%;
    height: 95%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sobreNos .headArea {
    display: flex;
    padding: 0 64px;
    justify-content: center;
    flex-direction: column;
}

.headArea .headTitle {
    font-size: 2.35rem;
    color: var(--branco);
    font-weight: 900;
    margin-bottom: 24px;
}

.headArea .description {
    font-size: 18px;
    color: var(--branco);
    margin-bottom: 32px;
}

.headArea button {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 16px 40px;
    color: var(--branco);
    background-color: transparent;
    border: solid 3px var(--branco);
    cursor: pointer;
}

.headArea button:hover {
    background-color: var(--branco);
    color: #000;
}

.sobreNos #fade-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    z-index: 14;
    top: 0;
    left: 0;
}

.sobreNos .modal {
    background-color: var(--branco);
    position: fixed;
    width: 640px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    border-radius: 16px;
    min-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.sobreNos .modal::-webkit-scrollbar {
    width: 8px;
    margin-left: 10px;
}

.sobreNos .modal::-webkit-scrollbar-thumb {
    background-color: var(--cinza-escuro);
    border-radius: 20px;

}

.sobreNos .modal::-webkit-scrollbar-track {
    margin: 16px 0;
    height: 80%;
}

.sobreNos .modal button {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 20px;
    background-color: var(--cinza-escuro);
    width: 180px;
    height: 50px;
    color: var(--branco);
    text-transform: uppercase;
    border-radius: 12px;
    border: none;
    opacity: 0.85;
    cursor: pointer;
}

.sobreNos .modal button:hover {
    opacity: 1;
}

.sobreNos .modal #close-modal-btn {
    width: fit-content;
    margin-left: auto;
}

.sobreNos .modal #close-modal-btn i {
    font-size: 24px;
    cursor: pointer;
    color: var(--cinza-claro);
}

.modal #close-modal-btn i:hover {
    color: var(--cinza-escuro);
}

.sobreNos .modal .modal-header {
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #e5e5e5;
}

.sobreNos .modal .modal-header h2 {
    font-size: 24px;
    color: var(--cinza-escuro);
    font-family: "Lato";
    font-weight: 800;
}

.sobreNos .modal .modal-body {
    width: 100%;
    padding: 16px;
}

.sobreNos .modal .modal-body p {
    font-size: 16px;
    color: var(--cinza-medio);
    line-height: 2rem;
}

#modal-sobrenos,
#fade-modal {
    transition: .3s;
    opacity: 1;
    pointer-events: all;
}

#modal-sobrenos.hide,
#fade-modal.hide {
    opacity: 0;
    pointer-events: none;
}

#modal-sobrenos.hide {
    top: 0;
}


/* 4ª SESSAO - NOSSA SOLUCAO */
.solution {
    width: 100%;
    height: 100vh;
    background-color: #1E2486;
    display: flex;
    justify-content: center;
    position: relative;
}

.solution .container {
    position: relative;
}

.solution .container .title {
    top: 15%;
    font-size: 2.5rem;
}

.solution .dottedLine {
    width: 100%;
    height: 100%;

}

.solution .dottedLine img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.solution .bubbles {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    padding: 0 24px;
    transform: translateY(-45%);
}

.solution .bubble {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--branco);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution .bubble i {
    font-size: 80px;
    color: #1E2486;

}

.solution .bubble .numberCircle {
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 24px;
    font-weight: 800;
}

.solution .bubble .secondary {
    background-color: var(--branco);
    color: #000;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.solution .bubble .text {
    position: absolute;
    text-align: center;
    width: 350px;
    top: 100%;

}

.bubble .text .bubbleTitle {
    color: var(--branco);
    margin-top: 1.35rem;
    margin-bottom: 1rem;
}

.bubble .text .bubbleTitle h3 {
    font-weight: 600;
    font-size: 24px;
}

.bubble .text .description {
    font-weight: 300;
    color: var(--branco);
}

/* 5ª SESSAO - NOSSA EQUIPE */
.equipe {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.equipe .bgVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -11;
}

.equipe .bgVideo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.65;
    z-index: -12;
}

.equipe .bgVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.equipe .container {
    position: relative;
}

.container .title {
    width: 100%;
    font-size: 32px;
    color: var(--branco);
    font-weight: 800;
    text-align: center;
    text-transform: none;
    position: absolute;
    top: 32px;
}

.equipe .card-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    position: relative;
}

.equipe .card {
    width: 240px;
    height: 320px;
    background-color: var(--branco);
    border-radius: 12px;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px 8px;
    position: relative;

}

.equipe .card::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: var(--roxo-primario);
    position: absolute;
    bottom: -6px;
    left: 4px;
    z-index: -1;
}

.equipe .card .user {
    height: 65%;
    width: 100%;
    border-radius: inherit;
    background-color: #d4d4d4;
    overflow: hidden;
}

.equipe .card .user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.equipe .card .text {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

.equipe .card .text .card-title h1 {
    font-size: 1.25rem;
    font-weight: 800;
    color: #1E2486;
}

.equipe .card .text .card-subtitle {
    font-size: 10px;
    font-weight: 600;
    color: var(--cinza-claro);
}

.equipe .card .social {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    margin: auto 0;
}

.equipe .card .social .icon {
    width: 40px;
    height: 40px;
    font-size: 16px;
    background-color: var(--branco);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.equipe .card .social .icon a {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.social .icon:hover a {
    transform: scale(1.2);
}

.social .icon:hover.linkedIn {
    background-color: #0e76a8;
    color: var(--branco);
}

.social .icon:hover.gitHub {
    background-color: #333333;
    color: var(--branco);
}

.social .icon:hover.email {
    background-color: #000;
    color: var(--branco);
}

/* RODAPÉ */
.rodape {
    background-color: #080808;
    padding: 30px 0;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rodape .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-contato {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    margin-right: 20px;
}

.contato h3,
.redes-sociais h3 {
    color: #2ec5cf;
    margin-bottom: 10px;
    font-size: 24px;
}

.contato p,
.redes-sociais p {
    margin: 5px 0;
    color: #b8b8b8;
    font-size: 18px;
}

.redes-sociais {
    text-align: right;
}

.icones a i {
    font-size: 35px;
    margin: 0 8px;
    transition: transform 0.3s ease;
}

.icones a i:hover {
    transform: scale(1.1);
}

/* Celulares pequenos */
@media(max-width: 480px) {

    .container {
        width: 80%;
    }
    /* HEADER */
    header .navbar a {
        display: none;
    }

    header .navbar .navLogo {
        height: 4rem;
    }

    /* 1ª SESSÃO - BANNER */
    /* 2ª SESSAO - VALORES */
    .valores .container {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }
    /* 3ª SESSAO - SOBRE NOS */
    /* 4ª SESSAO - NOSSA SOLUCAO */
    /* 5ª SESSAO - NOSSA EQUIPE */
    .equipe {
        height: auto;
    }
    .equipe .card-wrapper {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
    }
    .equipe .card {
        max-width: 45%;
        max-height: 85%;
    }


    /* RODAPÉ */


}

/* Celulares grandes e tablets */
@media (min-width: 481px) and (max-width: 768px) {}

/* Desktop Grande */
@media (min-width: 1441px) {
    .container {
        width: 86%;
    }

    .sobreNos .container {
        grid-template-columns: 50% auto;
    }

    .sobreNos .headArea {
        padding: 0 32px;
        padding-right: 0;
    }
}