/* IMPORTAÇÃO DE GOOGLE FONTES - LATO E ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* RESET CSS, ZERANDO VALORES PADROES, SETANDO FONTE PADRAO E TIRANDO OUTRAS COISAS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
 html {
    scroll-behavior: smooth;
 }
a,
li {
    color: inherit;
    text-decoration: none;
    list-style: none;
}

/* CONTAINER PADRAO DO NOSSO SITE */
.container {
    width: 1180px;
}

/* CRIANDO HEADER FLUTUANTE */
header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ;
}
header.sticky {
    position: fixed;
    border-bottom: 0px;
    background-color: #000;
    height: 65px;
}

.navbar {
    color: #fff;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header .container {
    height: 100%;
}

.navClass {
    display: flex;
    gap: 8px;
    align-items: center;
}

.navLogo {
    height: 100%;
    line-height: 1;
}

.navLogo .logoName {
    width: 100px;
}

.navLogo h2 {
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}

.navLogo img {
    height: 85%;
    object-fit: contain;
}

.navbar a {
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: transparent 4px solid;
    transition: all 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    width: 100px;
}

.navbar a:hover {
    border-bottom-color: rgb(89, 0, 255);
    color: rgb(89, 0, 255);
}

/* 1ª SESSÃO - BANNER */
.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../assets/bgHome2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1f2732;
    opacity: 0.75;
    z-index: 9;
}

.banner::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #000, transparent);
    z-index: 10;
}

.banner .container {
    display: flex;
    align-items: center;
}

.banner .banner-info {
    color: #fff;
    width: 45%;
    position: relative;
    z-index: 10;
}

.banner .banner-info .text p {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 18px;
    color: rgb(89, 0, 255);
}

.banner .banner-info .text h3 {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 12px;
}

.banner .banner-info .text h4 {
    font-size: 16;
    font-weight: 600;
    line-height: 1;
    font-family: "Lato";
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 32px;
}

.banner .banner-info a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 16px 40px;
    color: #fff;
    background-color: rgb(89, 0, 255);
    border: none;
    cursor: pointer;
}

.banner .banner-info a:hover {
    background-color: #FFF;
    color: #000;
}

/* 2ª SESSAO - VALORES */
.valores {
    background-color: #000;
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 3px 8px rgba(0, 0, 0, .75));
}

.valores .container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}

.value-card {
    background-color: #fff;
    width: 280px;
    height: 280px;
    position: relative;
    border-radius: 8px;
    padding: 0px 24px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.value-card .title-card {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 800;
    color: rgb(89, 0, 255);
}

.value-card .description-card {
    font-weight: 400;
    font-size: 14px;
    color: #808080;
}

.value-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(89, 0, 255);
    bottom: -10px;
    left: 10px;
    z-index: -2;
}

.value-card .icon {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    bottom: -50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.value-card .icon i {
    font-size: 50px;
    color: rgb(89, 0, 255);
}

/* 3ª SESSAO - SOBRE NOS */
.sobreNos {
    height: 85vh;
    width: 100%;
    display: flex;
    background: radial-gradient(circle, #233D8C 0%, #0C1B32 100%);
    justify-content: center;

}

.sobreNos .container {
    display: grid;
    grid-template-columns: 45% 55%;
}

.sobreNos .area {
    height: 100%;
    width: 100%;
}

.sobreNos .bannerArea {
    display: flex;
    padding: 24px 0px;
    align-items: center;
}

.sobreNos .bannerArea img {
    width: 95%;
    height: 95%;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sobreNos .headArea {
    display: flex;
    padding: 0 64px;
    justify-content: center;
    flex-direction: column;
}

.headArea .headTitle {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 900;
    margin-bottom: 24px;
}

.headArea .description {
    font-size: 18px;
    color: #fff;
    margin-bottom: 32px;
}

.headArea button {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 16px 40px;
    color: #fff;
    background-color: rgb(89, 0, 255);
    border: none;
    cursor: pointer;
}

.headArea button:hover {
    background-color: #FFF;
    color: #000;
}

/* 4ª SESSAO - NOSSA SOLUCAO */
.solution {
    width: 100%;
    height: 100vh;
    background-color: #1E2486;
    display: flex;
    justify-content: center;
    position: relative;
}

.solution .container {
    position: relative;
}

.solution .dottedLine {
    width: 100%;
    height: 100%;

}

.solution .dottedLine img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.solution .bubbles {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    padding: 0 24px;
    transform: translateY(-50%);
}

.solution .bubble {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #FFF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution .bubble i {
    font-size: 80px;
    color: #1E2486;

}

.solution .bubble .numberCircle {
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
}

.solution .bubble .secondary {
    background-color: #FFF;
    color: #000;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.solution .bubble .text {
    position: absolute;
    bottom: -100%;
    text-align: center;
    height: 100%;
    width: 350px;
}

.bubble .text .bubbleTitle {
    color: #FFF;
    margin: 1rem 0;
}

.bubble .text .bubbleTitle h3 {
    font-weight: 500;
    font-size: 20px;
}

.bubble .text .description {
    font-weight: 300;
    color: #fff;
}

/* 5ª SESSAO - NOSSA EQUIPE */
.equipe {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.equipe .bgVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -11;
}

.equipe .bgVideo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.65;
    z-index: -12;
}

.equipe .bgVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.equipe .container {
    position: relative;
}

 .container .title {
    width: 100%;
    font-size: 32px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    text-transform: none;
    position: absolute;
    top: 32px;
}

.equipe .card-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    position: relative;
}

.equipe .card {
    width: 200px;
    height: 280px;
    background-color: #fff;
    border-radius: 12px;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px 8px;

    position: relative;
    z-index: auto;
}
.equipe .card::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: rgb(89, 0, 255);
    position: absolute;
    bottom: -6px;
    left: 4px;

    z-index: -1;
}

.equipe .card .user {
    height: 75%;
    width: 100%;
    border-radius: inherit;
    background-color: #d4d4d4;
    overflow: hidden;
}

.equipe .card .user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.equipe .card .text {
    width: 100%;
    font-size: 14px;
    font-weight: 800;
    color: #1E2486;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

/* RODAPÉ */
.rodape {
    background-color: #080808;
    padding: 30px 0;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rodape .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-contato {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    margin-right: 20px;
}

.contato h3,
.redes-sociais h3 {
    color: #2ec5cf;
    margin-bottom: 10px;
    font-size: 24px;
}

.contato p,
.redes-sociais p {
    margin: 5px 0;
    color: #b8b8b8;
    font-size: 18px;
}

.redes-sociais {
    text-align: right;
}

.icones a i {
    font-size: 35px;
    margin: 0 8px;
    transition: transform 0.3s ease;
}

.icones a i:hover {
    transform: scale(1.1);
}

/* Celulares pequenos */
@media(max-width: 480px) {
    header .navbar a {
        display: none;
    }
    header .navbar .navLogo {
        height: 4rem;
    }
}
/* Celulares grandes e tablets */
@media (min-width: 481px) and (max-width: 768px) {
    
}

/* Desktop Grande */
@media (min-width: 1441px) {
    .container {
        width: 86%;
    }
    .sobreNos .container {
        grid-template-columns: 50% auto;
    }
    .sobreNos .headArea {
        padding: 0 32px;
        padding-right: 0;
    }
}